# Exclude files from the first WebDev course
1-Web-Dev-Fundamentals/
git-test/
2-Javascript/nucampsite/
2-Javascript/NEWS-APP/
3-React/i-heart-react/
3-React/nucampsite/
3-React/Week3/
4-React-Native/